/build
/Resources/doc/_build
/vendor
composer.lock
phpunit.xml
.php_cs.cache

# propel-generated stuff
Tests/Fixtures/App/app/propel/sql/
Tests/Fixtures/App/src/Sonata/TestBundle/Model/map
Tests/Fixtures/App/src/Sonata/TestBundle/Model/om
